HELP.md
.gradle

### Need to find something differently ###
build/jacoco
build/jacocoHtml/utils
build/jacocoHtml/purple.lemon.dashboard
build/jacocoHtml/purple.lemon.dashboard.controller
build/jacocoHtml/jacoco-resources
build/jacocoHtml/thymeleaf
build/classes
build/generated
build/kotlin
build/reports
build/resources
build/test-results
build/tmp

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/resources/application.properties
