# Docs: https://docs.travis-ci.com/
#
# This is a test CI tool. Next step would be to implement different jobs.
# Meaning, a job to assemble, job to test (perhaps multiple tests) and finally a deploy phase.
#
# Specify the language for the application
language: java

os: linux
dist: trusty

# Only test with jdk 11
jdk:
  - oraclejdk11

#Branches on which the build should start
branches:
  # for these branches the build will run
  only:
    # specifying that github pages are also build
    - gh-pages
    - master
    - develop
  # ignore these branches
  except:
    - experimental

# Giving permission to Travis to use gradlew
before_install:
  - chmod +x gradlew
  - wget -O ~/codacy-coverage-reporter-assembly-latest.jar $(curl https://api.github.com/repos/codacy/codacy-coverage-reporter/releases/latest | jq -r .assets[0].browser_download_url)

# lock the module, and assemble the project
before_cache:
  - ./gradlew assemble
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

# lookup the cache
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

# changing to the correct directory Example
#before_script:
#  - cd testing

# executing the build
script:
  - ./gradlew build

after_success:
  - java -jar ~/codacy-coverage-reporter-assembly-latest.jar report -l Java -r CodeCoverage/jacocoTestReport.xml
  - bash <(curl -Ls https://coverage.codacy.com/get.sh) report --language Kotlin --force-language