* {
  box-sizing: border-box;
}

html {
  background-color: #e5eaf5;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: Roboto, serif;
  font-size: 22px;
  height: 100%;
  width: 100%;
}

select {
  font-family: Roboto, serif;
}

.container::after {
  height: 100%;
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

.column-left {
  float: left;
  padding: 5px;
  width: 35%;
  height: 95vh;
}

.ribbon {
  display: flex;
  justify-content: space-between;
  border-bottom: none;
  background-color: #8458b3;
  border-radius: 8px 8px 0 0;
  padding: 5px;
}

.ribbon-element,
select {
  margin: 5px 0;
  padding: 4px;
  border: solid #4f2f4f 2px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: #d0bdf4;
  position: relative;
}

.ribbon-element {
  border-radius: 25%;
}

#editor {
  font-family: Roboto, serif;
  font-size: 12px;
  border: 2px solid mediumpurple;
  width: 100%;
  height: 95%;
  background-color: #e5eaf5;
}

.column-right {
  float: right;
  padding: 5px;
  width: 64%;
  height: 95vh;
}

.row {
  display: flex;
  justify-content: space-between;
  background-color: #a0d2eb;
  margin: 10px;
  height: 220px;
  border-radius: 8px;
}

.row-element {
  padding: 4px;
  border: solid #4f2f4f 2px;
  outline: none;
  display: inline-block;
  background-color: #d0bdf4;
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 25%;
}

.row-element:hover {
  cursor: pointer;
}

.row-detail {
  display: flex;
  background-color: #a0d2eb;
  border: solid #4f2f4f 2px;
  margin: 10px;
  padding: 4px;
  border-radius: 8px;
  height: 150px;
  width: 70%;
}

.info-box {
  margin: 5px;
  justify-content: space-evenly;
  background-color: #a0d2eb;
  border: solid #8458b3 1px;
  height: 90%;
  width: 40%;
}

.info-box-img {
  float: left;
  size: auto;
}

.info-box-p {
  float: right;
  font-family: Roboto, serif;
  font-size: 14px;
}
