<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard</title>
    <script src="https://kit.fontawesome.com/384b439c20.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/weather.js}"></script>
    <script th:src="@{/js/editor.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
<form>
    <div th:class="container">
        <div th:insert="editor.html :: htmlEditor"></div>
        <div th:class="column-right">
            <div th:class="row">
                <img th:class="row-element" th:src="@{/image/button/weather-btn.png}" alt="Test" th:onclick="getWeatherForecast()">
                <img th:class="row-element" th:src="@{/image/button/mail-btn.png}" alt="Mail" th:onclick="goToMail()">
                <img th:class="row-element" th:src="@{/image/test/placeholder.png}" alt="WorkMail" th:onclick="goToWorkMail()">
            </div>
            <div th:id="row-details"></div>
            <div th:class="row">
                <img th:class="row-element" th:src="@{/image/test/placeholder.png}" alt="Google Drive" th:onclick="goToDrive()">
                <img th:class="row-element" th:src="@{/image/test/placeholder.png}" alt="Sketching" th:onclick="goToSketching()">
                <img th:class="row-element" th:src="@{/image/test/placeholder.png}" alt="Todoist" th:onclick="goToTodoist()">
            </div>
            <div th:class="row"></div>
        </div>
    </div>
</form>
</body>
</html>