<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard</title>
    <script src="https://kit.fontawesome.com/384b439c20.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>

<form>
    <div th:class="container">
        <div th:insert="editor.html :: htmlEditor"></div>
        <div th:class="column-right">
            <!--/*@thymesVar id="name" type="java.lang.String"*/-->
            <p th:text="'Welcome '+ ${name} + '!'"></p>

            <!--/*@thymesVar id="date" type="java.time.LocalDate"*/-->
            <p th:text="'Time on the server is: '+ ${date}"></p>
        </div>
    </div>
</form>
</body>
</html>